.head {
  width: 100vw;
  display: flex;
  align-items: center;
  //background-color: #3498db;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.head__title {
  padding: 0 40rpx;
  display: flex;
  align-items: center;
}
.avatar {
  width: 80rpx;
  height: 80rpx;
  border-radius: 50%;
  overflow: hidden;
}

.warp {
  padding: 20px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40rpx;
  text-align: center;
  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    image {
      width: 80rpx;
      height: 80rpx;
      display: block;
      margin-bottom: 10rpx;
    }
    text {
      font-size: 26rpx;
    }
  }
}
